on init
# Begin Immersion changes
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell
# End Immersion changes

on init
    setprop ro.ssbd.session /dev/block/platform/msm_sdcc.1/by-name/eksst
    setprop ro.ssbd.offset 0
# FULMICS_ROM_CHANGE, xpirt.dev@gmail.com, 2016-08-01
    setprop ro.sys.sec.version.info "xpirt@FulmicsROM"
# FULMICS_ROM_CHANGE, xpirt.dev@gmail.com, 2016-08-01

# [ENCRYPTION]For FIPS and  applied only VZW,ATT,SPR and TMUS(NorthAmerica)
service ufips /system/bin/ufips_perf
    class core
    user system
    group system

#[START][ePDG][changhwan.lee] set ePDG property
on init
	setprop persist.data.iwlan.enable true
	setprop persist.sys.cnd.iwlan 2
	setprop persist.service.epdg.enable 1
#[END][ePDG][changhwan.lee] set ePDG property

# [LGE_VPN][encryption-vpn@lge.com] Inside Secure VPN Kernel Module install [START]
service vpnclientpm /system/bin/vpnclientpm3 \
    -O /data/data/com.ipsec.service/vpnclientpm.txt \
    -U rmnet0,rmnet_usb0,wlan0,bt-pan,rndis0,p2p0,eth0
    socket vpnclientpm seqpacket 0666
# uid dropped to system when capabilities are set
    class main
    group system net_admin net_raw
    disabled
# [LGE_VPN][encryption-vpn@lge.com] Inside Secure VPN Service & modules permission change [END]

# 2014.11.24 [changik.jeong@lge.com] LGIMS ipsec solution [START]
service ipsecclient /system/bin/ipsecclient
    class main
    group system net_admin net_raw
    disabled

service ipsecstarter /system/bin/ipsecstarter
    class main
    user system
    group system net_admin net_raw
# 2014.11.24 [changik.jeong@lge.com] LGIMS ipsec solution [END]

on post-fs
    mkdir /data/misc/vpnclientd 0770 system system

service vpnclientd /system/bin/vpnclientd
    class main
    socket vpnclientd seqpacket 0600 system system
    user system
    group system net_admin inet net_raw
    disabled

on property:service.vpnclientd.enable=1
    start vpnclientd
on property:service.vpnclientd.enable=0
    stop vpnclientd
