on init


# Begin Immersion changes
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell
# End Immersion changes

# LGE_CHANGE_S, lg-security@lge.com, 2014-11-20, to support MDFPP
    setprop ro.sys.sec.version.info "Truongthevinh@tekcafe.vn 5.0"
	setprop ro.lge.swversion_short "D85130F"
# LGE_CHANGE_S, lg-security@lge.com, 2014-11-20, to support MDFPP
# TDMB bring up
service broadcast /system/bin/libbroadcast_server
    class main
    user media
    group system audio media graphics sdcard_rw
    socket dmb_socket stream 0660 media media

on property:init.svc.media=restarting
    restart broadcast

on init
    setprop ro.ssbd.session /dev/block/platform/msm_sdcc.1/by-name/eksst
    setprop ro.ssbd.offset 0


on boot
# 2013-02-25 hyoseab.song@lge.com LGP_DATA_TCPIP_TCP_BUFSIZE_ON_LTE_UPLUS [START]
# Re-define TCP buffer size for SKT WCDMA network. Overwrite init.rc property
# ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.umts		4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspa		4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa	4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa	4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.lte     524288,1048576,2560000,524288,1048576,2560000
# 2013-02-25 hyoseab.song@lge.com LGP_DATA_TCPIP_TCP_BUFSIZE_ON_LTE_UPLUS [END]

on post-fs-data
# SKT PM Service [Start]
    mkdir /data/playready 0777 system system
    chown system system /data/playready
    chmod 0777 /data/playready
    restorecon /data/playready
    mkdir /data/pmsc 0777 system system
    chown system system /data/pmsc
    chmod 0777/data/pmsc
    copy /system/skt/pmservice_cert/bgroupcert.dat /data/pmsc/bgroupcert.dat
    copy /system/skt/pmservice_cert/devcerttemplate.dat /data/pmsc/devcerttemplate.dat
    copy /system/skt/pmservice_cert/priv.dat /data/pmsc/priv.dat
    copy /system/skt/pmservice_cert/zgpriv.dat /data/pmsc/zgpriv.dat
    chown system system /data/pmsc/bgroupcert.dat
    chown system system /data/pmsc/devcerttemplate.dat
    chown system system /data/pmsc/priv.dat
    chown system system /data/pmsc/zgpriv.dat
    chmod 0444 /data/pmsc/bgroupcert.dat
    chmod 0444 /data/pmsc/devcerttemplate.dat
    chmod 0444 /data/pmsc/priv.dat
    chmod 0444 /data/pmsc/zgpriv.dat
# SKT PM Service [End]
# NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# LGE_CHANGE_S, [U+ DRM], lg-drm@lge.com
    mkdir /data/ep 0771 system system
    mkdir /data/ep/Music 0777 system system
    restorecon_recursive /data/ep/Music
# LGE_CHANGE_E, [U+ DRM]
# LGE_CHANGE_S [GNSS] youngseok.ko@lge.com; to fix the problem that QCT doesn't consider KK to L Upgrade for iZat EURA setting in SElinux violation.
    restorecon /data/data/com.qualcomm.location.XT/shared_prefs/XT_PREFS.xml
# LGE_CHANGE_E [GNSS]


